[Unit]
Description=Person Detector Port 4466
After=network-online.target

[Service]
ExecStart=/usr/local/bin/mlperson.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
