[Unit]
Description=MQTT Camera

[Service]
ExecStart=python3 /usr/local/lib/mqtt-motion-video.py --system -c /usr/local/etc/mqtt-camera/touchpi.json
Restart=on-abort

[Install]
WantedBy=multi-user.target
