[Unit]
Description=MQTT Camera
After=network-online.target

[Service]
ExecStart=/usr/local/bin/mqttcamera.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
